<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Login</title>
    <link rel="stylesheet" href="../resources/CSS/estilo.css">
    
</head>
<body>
    <div class="tela-login">
        <form action="../conexoes/valida-cad.php" method="post">
            <H1 style="text-align: center;"> Login</H1>
            <input type="text" name="email" placeholder="E-mail" required="true">
            <br><br> 
            <input type="password" name="senha" placeholder="Senha" required="true">
            <br><br>
            <button type="submit">Acessar</button>
            <br>
            <a style="color: red;" href="tela-cadastro.html">Criar acesso</a>
        </form>        
    </div>
    
</body>
</html>